<div class="md:border-l border-gray-300 pl-4">
  <a href="<%= link %>" target="_blank" class="text-lg font-bold hover:underline"> <%= title %> </a>
  <p class="text-sm font-semibold"><%= subtitle %></p>
  <div class="whitespace-pre-line"><%= description %></div>
</div>